openapi: 3.1.0
info:
  description: "Generated OpenAPI document for Kavenio SDKs that support social posting,\
    \ media, account connection, validation, and scheduling workflows."
  license:
    name: Proprietary
    url: https://kavenio.com/terms
  title: Kavenio Social Posting SDK API
  version: 1.0.0
servers:
- url: https://api.kavenio.com
security:
- bearerAuth: []
tags:
- description: Manage customer-owned profile groupings.
  name: Profiles
- description: "Create, schedule, update, and manage post lifecycle actions."
  name: Posts
- description: Manage reusable post queue schedules and preview slots.
  name: Queue
- description: "Upload, presign, and validate media assets."
  name: Media
- description: Validate post payloads and platform content length limits.
  name: Validation
- description: Start and complete account connection flows.
  name: Connect
- description: Manage connected social accounts and account health.
  name: Accounts
paths:
  /v1/profiles:
    get:
      description: Returns the profiles available to the authenticated organization.
      operationId: listProfiles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_200_response"
          description: Profiles returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Profile lookup failed.
      summary: List profiles
      tags:
      - Profiles
      x-mint:
        metadata:
          title: List profiles
      x-accepts:
      - application/json
    post:
      description: Creates a customer-owned profile grouping.
      operationId: createProfile
      requestBody:
        content:
          application/json:
            example:
              name: Retail campaigns
              description: Campaigns managed by the retail team.
              color: "#2563eb"
              isDefault: false
            schema:
              $ref: "#/components/schemas/createProfile_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createProfile_201_response"
          description: Profile created.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: A profile with this name already exists.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Profile creation failed.
      summary: Create a profile
      tags:
      - Profiles
      x-mint:
        metadata:
          title: Create profile
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/profiles/{profileId}:
    delete:
      description: Deletes a customer-owned profile grouping.
      operationId: deleteProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteProfile_200_response"
          description: Profile deleted.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Profile not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Profile cannot be deleted in its current state.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Path parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Profile deletion failed.
      summary: Delete a profile
      tags:
      - Profiles
      x-mint:
        metadata:
          title: Delete profile
      x-accepts:
      - application/json
    get:
      description: Returns one profile by ID.
      operationId: getProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          nullable: true
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createProfile_201_response"
          description: Profile returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Profile not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Path parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Profile lookup failed.
      summary: Get a profile
      tags:
      - Profiles
      x-mint:
        metadata:
          title: Get profile
      x-accepts:
      - application/json
    patch:
      description: Partially updates profile fields for an existing customer-owned
        grouping.
      operationId: updateProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              description: null
              isDefault: true
            schema:
              $ref: "#/components/schemas/replaceProfile_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createProfile_201_response"
          description: Profile updated.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Profile not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: A profile with this name already exists.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Profile update failed.
      summary: Update a profile
      tags:
      - Profiles
      x-mint:
        metadata:
          title: Update profile
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Updates profile fields for an existing customer-owned grouping.
      operationId: replaceProfile
      parameters:
      - explode: false
        in: path
        name: profileId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Retail campaigns
              description: Updated profile description.
              color: "#0f766e"
              isDefault: true
            schema:
              $ref: "#/components/schemas/replaceProfile_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createProfile_201_response"
          description: Profile updated.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Profile not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: A profile with this name already exists.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Profile update failed.
      summary: Replace profile fields
      tags:
      - Profiles
      x-mint:
        metadata:
          title: Replace profile
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/posts:
    get:
      description: "Returns posts for the authenticated organization, optionally filtered\
        \ by profile, account, platform, status, search text, or date range."
      operationId: listPosts
      parameters:
      - explode: true
        in: query
        name: profileId
        required: false
        schema:
          maxLength: 16
          minLength: 16
          nullable: true
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      - explode: true
        in: query
        name: accountId
        required: false
        schema:
          maxLength: 16
          minLength: 16
          nullable: true
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      - explode: true
        in: query
        name: platform
        required: false
        schema:
          enum:
          - twitter
          - pinterest
          - linkedin
          - bluesky
          - mastodon
          - reddit
          - telegram
          - youtube
          - facebook
          - instagram
          - threads
          - tiktok
          - googlebusiness
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - draft
          - scheduled
          - publishing
          - published
          - unpublished
          - failed
          - partial
          - cancelled
          type: string
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      - explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\\
            d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\\
            d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\\
            d(?:\\.\\d+)?)?(?:Z))$"
          type: string
        style: form
      - explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          nullable: true
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\\
            d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\\
            d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\\
            d(?:\\.\\d+)?)?(?:Z))$"
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          maximum: 9007199254740991
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPosts_200_response"
          description: Posts returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post lookup failed.
      summary: List posts
      tags:
      - Posts
      x-mint:
        metadata:
          title: List posts
      x-accepts:
      - application/json
    post:
      description: "Creates a draft, scheduled post, queue-backed post, or immediate\
        \ publish request depending on the payload fields."
      operationId: createPost
      requestBody:
        content:
          application/json:
            example:
              profileId: aaaaaaaaaaaaaaaa
              title: Launch announcement
              content: We are launching the new campaign today.
              platforms:
              - platform: linkedin
                accountId: bbbbbbbbbbbbbbbb
              scheduledFor: 2026-06-25T15:00:00.000Z
              timezone: UTC
              tags:
              - launch
            schema:
              $ref: "#/components/schemas/createPost_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPost_201_response"
          description: Post created.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post request conflicts with current state.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post creation failed.
      summary: Create a post
      tags:
      - Posts
      x-mint:
        metadata:
          title: Create post
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/posts/bulk-upload:
    post:
      description: Creates posts from CSV content and returns per-row creation or
        validation results.
      operationId: bulkUploadPosts
      requestBody:
        content:
          application/json:
            example:
              csv: |-
                title,content,scheduledFor
                Launch,Post body,2026-06-25T15:00:00.000Z
              defaults:
                profileId: aaaaaaaaaaaaaaaa
                timezone: UTC
            schema:
              $ref: "#/components/schemas/bulkUploadPosts_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulkUploadPosts_201_response"
          description: Bulk upload processed.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Bulk upload failed.
      summary: Bulk upload posts
      tags:
      - Posts
      x-mint:
        metadata:
          title: Bulk upload posts
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/posts/{postId}:
    delete:
      description: Deletes a post by ID and returns the deletion count.
      operationId: deletePost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deletePost_200_response"
          description: Post deleted.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post cannot be deleted in its current state.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Path parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post deletion failed.
      summary: Delete a post
      tags:
      - Posts
      x-mint:
        metadata:
          title: Delete post
      x-accepts:
      - application/json
    get:
      description: "Returns a post by ID, including platform target state."
      operationId: getPost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          nullable: true
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPost_201_response"
          description: Post returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Path parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post lookup failed.
      summary: Get a post
      tags:
      - Posts
      x-mint:
        metadata:
          title: Get post
      x-accepts:
      - application/json
    patch:
      description: Partially updates editable fields on an existing post and returns
        the resulting post state.
      operationId: updatePost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              content: Updated post body.
            schema:
              $ref: "#/components/schemas/replacePost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPost_201_response"
          description: Post updated.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post cannot be updated in its current state.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post update failed.
      summary: Update a post
      tags:
      - Posts
      x-mint:
        metadata:
          title: Update post
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Updates editable fields on an existing post and returns the resulting
        post state.
      operationId: replacePost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              title: Updated launch announcement
              content: Updated post body.
              scheduledFor: 2026-06-25T16:00:00.000Z
              timezone: UTC
            schema:
              $ref: "#/components/schemas/replacePost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPost_201_response"
          description: Post updated.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post cannot be updated in its current state.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post update failed.
      summary: Replace post fields
      tags:
      - Posts
      x-mint:
        metadata:
          title: Replace post
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/posts/{postId}/retry:
    post:
      description: "Retries failed platform targets for a post, optionally limited\
        \ to specific target IDs."
      operationId: retryPost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              targetIds:
              - gggggggggggggggg
            schema:
              $ref: "#/components/schemas/retryPost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPost_201_response"
          description: Post retry started.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post cannot be retried in its current state.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post retry failed.
      summary: Retry post publishing
      tags:
      - Posts
      x-mint:
        metadata:
          title: Retry post
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/posts/{postId}/unpublish:
    post:
      description: "Starts unpublishing for published platform targets, optionally\
        \ limited to specific target IDs."
      operationId: unpublishPost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              targetIds:
              - gggggggggggggggg
            schema:
              $ref: "#/components/schemas/unpublishPost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPost_201_response"
          description: Post unpublish started.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post cannot be unpublished in its current state.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post unpublish failed.
      summary: Unpublish a post
      tags:
      - Posts
      x-mint:
        metadata:
          title: Unpublish post
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/posts/{postId}/edit:
    post:
      description: Applies supported lifecycle edits to published platform targets
        and returns the resulting post state.
      operationId: editPublishedPost
      parameters:
      - explode: false
        in: path
        name: postId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              targetIds:
              - gggggggggggggggg
              content: Updated published content.
              visibility: public
            schema:
              $ref: "#/components/schemas/editPublishedPost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPost_201_response"
          description: Published post edit processed.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post cannot be edited in its current state.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Published post edit failed.
      summary: Edit a published post
      tags:
      - Posts
      x-mint:
        metadata:
          title: Edit published post
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/queue/slots:
    delete:
      description: Deletes a reusable posting queue schedule by profile and queue
        ID.
      operationId: deleteQueueSlotSchedule
      parameters:
      - explode: true
        in: query
        name: profileId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      - explode: true
        in: query
        name: queueId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          nullable: true
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deletePost_200_response"
          description: Queue schedule deleted.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Queue schedule not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Queue deletion failed.
      summary: Delete a queue schedule
      tags:
      - Queue
      x-mint:
        metadata:
          title: Delete queue schedule
      x-accepts:
      - application/json
    get:
      description: "Returns queue schedules for a profile, optionally filtered to\
        \ one queue."
      operationId: listQueueSlots
      parameters:
      - explode: true
        in: query
        name: profileId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          nullable: true
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      - explode: true
        in: query
        name: queueId
        required: false
        schema:
          maxLength: 16
          minLength: 16
          nullable: true
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      - explode: true
        in: query
        name: all
        required: false
        schema:
          enum:
          - "true"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listQueueSlots_200_response"
          description: Queue schedules returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Queue lookup failed.
      summary: List queue schedules
      tags:
      - Queue
      x-mint:
        metadata:
          title: List queue schedules
      x-accepts:
      - application/json
    post:
      description: Creates a reusable posting queue schedule for a profile.
      operationId: createQueueSlotSchedule
      requestBody:
        content:
          application/json:
            example:
              profileId: aaaaaaaaaaaaaaaa
              name: Weekday mornings
              timezone: UTC
              active: true
              slots:
              - dayOfWeek: 1
                time: 09:00
                timezone: UTC
            schema:
              $ref: "#/components/schemas/createQueueSlotSchedule_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateQueueSlotSchedule_200_response"
          description: Queue schedule created.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Queue schedule conflicts with current state.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Queue creation failed.
      summary: Create a queue schedule
      tags:
      - Queue
      x-mint:
        metadata:
          title: Create queue schedule
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Updates a reusable posting queue schedule and returns the resulting
        schedule.
      operationId: updateQueueSlotSchedule
      requestBody:
        content:
          application/json:
            example:
              profileId: aaaaaaaaaaaaaaaa
              queueId: ffffffffffffffff
              name: Weekday afternoons
              slots:
              - dayOfWeek: 2
                time: 14:00
                timezone: UTC
            schema:
              $ref: "#/components/schemas/updateQueueSlotSchedule_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateQueueSlotSchedule_200_response"
          description: Queue schedule updated.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Queue schedule not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Queue schedule conflicts with current state.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Queue update failed.
      summary: Update a queue schedule
      tags:
      - Queue
      x-mint:
        metadata:
          title: Update queue schedule
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/queue/preview:
    get:
      description: Returns upcoming scheduled times for a profile queue without creating
        posts.
      operationId: previewQueueSlots
      parameters:
      - explode: true
        in: query
        name: profileId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      - explode: true
        in: query
        name: queueId
        required: false
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      - explode: true
        in: query
        name: count
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          format: date-time
          nullable: true
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\\
            d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\\
            d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\\
            d(?:\\.\\d+)?)?(?:Z))$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/previewQueueSlots_200_response"
          description: Queue preview returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Queue preview failed.
      summary: Preview queue slots
      tags:
      - Queue
      x-mint:
        metadata:
          title: Preview queue slots
      x-accepts:
      - application/json
  /v1/queue/next-slot:
    get:
      description: Returns the next scheduled posting slot for a profile queue. The
        response uses the queue preview shape with at most one slot.
      operationId: getNextQueueSlot
      parameters:
      - explode: true
        in: query
        name: profileId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      - explode: true
        in: query
        name: queueId
        required: false
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          format: date-time
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\\
            d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\\
            d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\\
            d(?:\\.\\d+)?)?(?:Z))$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/previewQueueSlots_200_response"
          description: Next queue slot returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Next queue slot lookup failed.
      summary: Get next queue slot
      tags:
      - Queue
      x-mint:
        metadata:
          title: Get next queue slot
      x-accepts:
      - application/json
  /v1/tools/validate/post:
    post:
      description: Validates a post payload against platform and scheduling rules
        without creating a post.
      operationId: validatePost
      requestBody:
        content:
          application/json:
            example:
              profileId: aaaaaaaaaaaaaaaa
              content: Validation-only post body.
              platforms:
              - platform: linkedin
                accountId: bbbbbbbbbbbbbbbb
            schema:
              $ref: "#/components/schemas/createPost_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validatePost_200_response"
          description: Post validation result returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post validation failed.
      summary: Validate a post
      tags:
      - Validation
      x-mint:
        metadata:
          title: Validate post
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/tools/validate/post-length:
    post:
      description: Returns character counts and per-platform length validity for the
        supplied text.
      operationId: validatePostLength
      requestBody:
        content:
          application/json:
            example:
              text: Short post text for platform length validation.
            schema:
              $ref: "#/components/schemas/validatePostLength_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validatePostLength_200_response"
          description: Post length validation result returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Post length validation failed.
      summary: Validate post length
      tags:
      - Validation
      x-mint:
        metadata:
          title: Validate post length
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/connect/callback:
    get:
      description: Handles provider OAuth redirects for hosted connect flows and redirects
        back to the Kavenio app with the connection result.
      operationId: completeHostedConnectCallback
      parameters:
      - explode: true
        in: query
        name: state
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      - explode: true
        in: query
        name: code
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      - explode: true
        in: query
        name: error
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "302":
          description: Redirects to the configured Kavenio app completion URL with
            connection status query parameters.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Hosted connect callback failed.
      security: []
      summary: Complete hosted OAuth callback
      tags:
      - Connect
      x-mint:
        metadata:
          title: Complete hosted connect callback
      x-accepts:
      - application/json
  /v1/connect/providers:
    get:
      description: Returns social and ads providers available to the authenticated
        user.
      operationId: listConnectProviders
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listConnectProviders_200_response"
          description: Connect providers returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connect provider lookup failed.
      summary: List connect providers
      tags:
      - Connect
      x-mint:
        metadata:
          title: List connect providers
      x-accepts:
      - application/json
  /v1/connect/begin:
    post:
      description: Creates an OAuth connect session and returns the provider authorization
        URL.
      operationId: beginConnect
      requestBody:
        content:
          application/json:
            example:
              profileId: aaaaaaaaaaaaaaaa
              platform: linkedin
              returnTo: /accounts
            schema:
              $ref: "#/components/schemas/beginConnect_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/beginConnect_200_response"
          description: Connect session created.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Provider cannot be connected in the current state.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connect session creation failed.
      summary: Begin OAuth connect
      tags:
      - Connect
      x-mint:
        metadata:
          title: Begin connect
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/connect/complete:
    post:
      description: Completes an OAuth connect session using the provider authorization
        code.
      operationId: completeConnect
      requestBody:
        content:
          application/json:
            example:
              state: state_example
              code: code_example
            schema:
              $ref: "#/components/schemas/completeConnect_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/completeConnect_200_response"
          description: Connect session completed.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connect session cannot be completed.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connect completion failed.
      summary: Complete OAuth connect
      tags:
      - Connect
      x-mint:
        metadata:
          title: Complete connect
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/connect/token:
    post:
      description: Connects a provider that requires user-supplied token credentials.
        Raw tokens are accepted only in the request and are never returned.
      operationId: completeTokenConnect
      requestBody:
        content:
          application/json:
            example:
              profileId: aaaaaaaaaaaaaaaa
              platform: xads
              oauthToken: oauth_token_redacted
              oauthTokenSecret: oauth_token_secret_redacted
              providerAccountId: provider_account_example
              displayName: Example X Ads account
            schema:
              $ref: "#/components/schemas/completeTokenConnect_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/completeConnect_200_response"
          description: Token connect completed.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Provider cannot be connected in the current state.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Token connect failed.
      summary: Complete token connect
      tags:
      - Connect
      x-mint:
        metadata:
          title: Complete token connect
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/connect/bluesky/credentials:
    post:
      description: Connects a Bluesky account using an identifier and app password.
        The app password is accepted only in the request and is never returned.
      operationId: connectBlueskyCredentials
      requestBody:
        content:
          application/json:
            example:
              profileId: aaaaaaaaaaaaaaaa
              identifier: handle.example.com
              appPassword: bluesky_app_password_redacted
            schema:
              $ref: "#/components/schemas/connectBlueskyCredentials_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/completeConnect_200_response"
          description: Bluesky account connected.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Bluesky account cannot be connected.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Bluesky credential connect failed.
      summary: Connect Bluesky credentials
      tags:
      - Connect
      x-mint:
        metadata:
          title: Connect Bluesky credentials
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/connect/telegram/credentials:
    post:
      description: Connects a Telegram bot or chat using supplied credentials. The
        bot token is accepted only in the request and is never returned.
      operationId: connectTelegramCredentials
      requestBody:
        content:
          application/json:
            example:
              profileId: aaaaaaaaaaaaaaaa
              botToken: telegram_bot_token_redacted
              chatId: '@example_channel'
              displayName: Example channel
            schema:
              $ref: "#/components/schemas/connectTelegramCredentials_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/completeConnect_200_response"
          description: Telegram account connected.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Telegram account cannot be connected.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Telegram credential connect failed.
      summary: Connect Telegram credentials
      tags:
      - Connect
      x-mint:
        metadata:
          title: Connect Telegram credentials
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/connect/facebook/pages:
    get:
      description: Returns Facebook Pages available from a connected Facebook account.
      operationId: listFacebookPages
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          nullable: true
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listFacebookPages_200_response"
          description: Facebook Pages returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Facebook Page lookup failed.
      summary: List Facebook Pages
      tags:
      - Connect
      x-mint:
        metadata:
          title: List Facebook Pages
      x-accepts:
      - application/json
  /v1/connect/facebook/select-page:
    post:
      description: Selects a Facebook Page destination and attaches it to a profile.
      operationId: selectFacebookPage
      requestBody:
        content:
          application/json:
            example:
              accountId: bbbbbbbbbbbbbbbb
              profileId: aaaaaaaaaaaaaaaa
              pageId: page_example
            schema:
              $ref: "#/components/schemas/selectFacebookPage_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/completeConnect_200_response"
          description: Facebook Page selected.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account or Page not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Facebook Page selection failed.
      summary: Select Facebook Page
      tags:
      - Connect
      x-mint:
        metadata:
          title: Select Facebook Page
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/connect/instagram/accounts:
    get:
      description: Returns Instagram business or creator accounts available from a
        connected account.
      operationId: listInstagramAccounts
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listInstagramAccounts_200_response"
          description: Instagram accounts returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Instagram account lookup failed.
      summary: List Instagram accounts
      tags:
      - Connect
      x-mint:
        metadata:
          title: List Instagram accounts
      x-accepts:
      - application/json
  /v1/connect/instagram/select-account:
    post:
      description: Selects an Instagram account destination and attaches it to a profile.
      operationId: selectInstagramAccount
      requestBody:
        content:
          application/json:
            example:
              accountId: bbbbbbbbbbbbbbbb
              profileId: aaaaaaaaaaaaaaaa
              instagramAccountId: ig_example
            schema:
              $ref: "#/components/schemas/selectInstagramAccount_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/completeConnect_200_response"
          description: Instagram account selected.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account or Instagram account not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Instagram account selection failed.
      summary: Select Instagram account
      tags:
      - Connect
      x-mint:
        metadata:
          title: Select Instagram account
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/connect/linkedin/organizations:
    get:
      description: Returns LinkedIn organizations available from a connected LinkedIn
        account.
      operationId: listLinkedInOrganizations
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listLinkedInOrganizations_200_response"
          description: LinkedIn organizations returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: LinkedIn organization lookup failed.
      summary: List LinkedIn organizations
      tags:
      - Connect
      x-mint:
        metadata:
          title: List LinkedIn organizations
      x-accepts:
      - application/json
  /v1/connect/linkedin/select-organization:
    post:
      description: Selects a LinkedIn organization destination and attaches it to
        a profile.
      operationId: selectLinkedInOrganization
      requestBody:
        content:
          application/json:
            example:
              accountId: bbbbbbbbbbbbbbbb
              profileId: aaaaaaaaaaaaaaaa
              organizationUrn: urn:li:organization:123
              displayName: Example Company
            schema:
              $ref: "#/components/schemas/selectLinkedInOrganization_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/completeConnect_200_response"
          description: LinkedIn organization selected.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account or organization not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: LinkedIn organization selection failed.
      summary: Select LinkedIn organization
      tags:
      - Connect
      x-mint:
        metadata:
          title: Select LinkedIn organization
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/connect/pinterest/boards:
    get:
      description: Returns Pinterest boards available from a connected Pinterest account.
      operationId: listPinterestBoards
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPinterestBoards_200_response"
          description: Pinterest boards returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Pinterest board lookup failed.
      summary: List Pinterest boards
      tags:
      - Connect
      x-mint:
        metadata:
          title: List Pinterest boards
      x-accepts:
      - application/json
  /v1/connect/pinterest/select-board:
    post:
      description: Selects a Pinterest board destination and attaches it to a profile.
      operationId: selectPinterestBoard
      requestBody:
        content:
          application/json:
            example:
              accountId: bbbbbbbbbbbbbbbb
              profileId: aaaaaaaaaaaaaaaa
              boardId: board_example
            schema:
              $ref: "#/components/schemas/selectPinterestBoard_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/completeConnect_200_response"
          description: Pinterest board selected.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account or board not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Pinterest board selection failed.
      summary: Select Pinterest board
      tags:
      - Connect
      x-mint:
        metadata:
          title: Select Pinterest board
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/connect/reddit/subreddits:
    get:
      description: Returns Reddit subreddits available from a connected Reddit account.
      operationId: listRedditSubreddits
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listRedditSubreddits_200_response"
          description: Reddit subreddits returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Reddit subreddit lookup failed.
      summary: List Reddit subreddits
      tags:
      - Connect
      x-mint:
        metadata:
          title: List Reddit subreddits
      x-accepts:
      - application/json
  /v1/connect/reddit/flairs:
    get:
      description: Returns post flair choices for a connected Reddit account and subreddit.
      operationId: listRedditFlairs
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      - explode: true
        in: query
        name: subreddit
        required: true
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listRedditFlairs_200_response"
          description: Reddit flairs returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account or subreddit not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Reddit flair lookup failed.
      summary: List Reddit flairs
      tags:
      - Connect
      x-mint:
        metadata:
          title: List Reddit flairs
      x-accepts:
      - application/json
  /v1/connect/youtube/channels:
    get:
      description: Returns YouTube channels available from a connected YouTube account.
      operationId: listYouTubeChannels
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listYouTubeChannels_200_response"
          description: YouTube channels returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: YouTube channel lookup failed.
      summary: List YouTube channels
      tags:
      - Connect
      x-mint:
        metadata:
          title: List YouTube channels
      x-accepts:
      - application/json
  /v1/connect/youtube/select-channel:
    post:
      description: Selects a YouTube channel destination and attaches it to a profile.
      operationId: selectYouTubeChannel
      requestBody:
        content:
          application/json:
            example:
              accountId: bbbbbbbbbbbbbbbb
              profileId: aaaaaaaaaaaaaaaa
              channelId: channel_example
            schema:
              $ref: "#/components/schemas/selectYouTubeChannel_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/completeConnect_200_response"
          description: YouTube channel selected.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account or channel not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: YouTube channel selection failed.
      summary: Select YouTube channel
      tags:
      - Connect
      x-mint:
        metadata:
          title: Select YouTube channel
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/connect/youtube/playlists:
    get:
      description: Returns YouTube playlists available from a connected YouTube account.
      operationId: listYouTubePlaylists
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listYouTubePlaylists_200_response"
          description: YouTube playlists returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: YouTube playlist lookup failed.
      summary: List YouTube playlists
      tags:
      - Connect
      x-mint:
        metadata:
          title: List YouTube playlists
      x-accepts:
      - application/json
  /v1/connect/googlebusiness/locations:
    get:
      description: Returns Google Business locations available during account connection.
      operationId: listGoogleBusinessConnectLocations
      parameters:
      - explode: true
        in: query
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listGoogleBusinessConnectLocations_200_response"
          description: Google Business locations returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Google Business location lookup failed.
      summary: List Google Business connect locations
      tags:
      - Connect
      x-mint:
        metadata:
          title: List Google Business connect locations
      x-accepts:
      - application/json
  /v1/connect/googlebusiness/select-location:
    post:
      description: Selects a Google Business location destination and attaches it
        to a profile.
      operationId: selectGoogleBusinessLocation
      requestBody:
        content:
          application/json:
            example:
              accountId: bbbbbbbbbbbbbbbb
              profileId: aaaaaaaaaaaaaaaa
              locationId: locations/123
            schema:
              $ref: "#/components/schemas/selectGoogleBusinessLocation_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/completeConnect_200_response"
          description: Google Business location selected.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account or location not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request body validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Google Business location selection failed.
      summary: Select Google Business location
      tags:
      - Connect
      x-mint:
        metadata:
          title: Select Google Business location
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/accounts:
    get:
      description: Returns connected social accounts for the authenticated organization.
      operationId: listAccounts
      parameters:
      - explode: true
        in: query
        name: profileId
        required: false
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: form
      - explode: true
        in: query
        name: platform
        required: false
        schema:
          enum:
          - twitter
          - facebook
          - instagram
          - linkedin
          - tiktok
          - youtube
          - threads
          - reddit
          - pinterest
          - bluesky
          - mastodon
          - googlebusiness
          - telegram
          - snapchat
          - discord
          - whatsapp
          - metaads
          - googleads
          - tiktokads
          - linkedinads
          - pinterestads
          - xads
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - connected
          - disconnected
          - needs_reconnect
          - revoked
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAccounts_200_response"
          description: Connected accounts returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Query parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account lookup failed.
      summary: List connected accounts
      tags:
      - Accounts
      x-mint:
        metadata:
          title: List accounts
      x-accepts:
      - application/json
  /v1/accounts/{accountId}:
    get:
      description: Returns one connected account by ID.
      operationId: getAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          nullable: true
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccount_200_response"
          description: Connected account returned.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account not found.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Path parameter validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account lookup failed.
      summary: Get a connected account
      tags:
      - Accounts
      x-mint:
        metadata:
          title: Get account
      x-accepts:
      - application/json
    patch:
      description: Partially updates editable connected account fields. Public metadata
        updates must not include provider credential fields.
      operationId: updateAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              enabled: false
            schema:
              $ref: "#/components/schemas/replaceAccount_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccount_200_response"
          description: Connected account updated.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account cannot be updated.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account update failed.
      summary: Update a connected account
      tags:
      - Accounts
      x-mint:
        metadata:
          title: Update account
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Updates editable connected account fields. Public metadata updates
        must not include provider credential fields.
      operationId: replaceAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              displayName: Retail LinkedIn
              enabled: true
              metadata:
                label: primary
            schema:
              $ref: "#/components/schemas/replaceAccount_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccount_200_response"
          description: Connected account updated.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account cannot be updated.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account update failed.
      summary: Replace account fields
      tags:
      - Accounts
      x-mint:
        metadata:
          title: Replace account
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/accounts/{accountId}/move:
    post:
      description: Moves a connected account to another profile.
      operationId: moveAccount
      parameters:
      - explode: false
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 16
          minLength: 16
          pattern: "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]{16}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              profileId: aaaaaaaaaaaaaaaa
            schema:
              $ref: "#/components/schemas/moveAccount_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccount_200_response"
          description: Connected account moved.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Authentication failed.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account or profile not found.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account cannot be moved.
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Request validation failed.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProfiles_401_response"
          description: Connected account move failed.
      summary: Move a connected account
      tags:
      - Accounts
      x-mint:
        metadata:
          title: Move account
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/accounts/{accountId}/disconnect:
    post:
      description: Disconnects a connected account and returns the resulting account
        state.
      operationId: disconnectAccount
      parameters:
[...]
